@{
    ViewData["Title"] = "My Urls";
    var userUrls = ViewBag.UserUrls as IEnumerable<Url>;
    var userName = ViewBag.Name ;
}

@section Styles {
    <link href="https://cdn.datatables.net/2.1.3/css/dataTables.bootstrap5.css" rel="stylesheet">
}

@{
    @functions {
        public string TruncateUrl(string url, int maxLength)
        {
            if (url.Length <= maxLength) return url;
            return url.Substring(0, maxLength) + "...";
        }
    }

}
<div class="table-responsive">
    <table id="dataTable" class="table table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Domain</th>
                <th>Short Url</th>
                <th>Long Url</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (userUrls != null && userUrls.Any())
                {
                    foreach (var url in userUrls)
                    {
                        var truncatedUrl = TruncateUrl(url.LongUrl, 40);
                        <tr>
                            <td>@url.Domain</td>
                            <td><a href="@url.LongUrl" target="_blank">@url.ShortUrl</a></td>
                            <td><a href="@url.LongUrl" target="_blank">@truncatedUrl</a></td>
                        </tr>
                    }
                }
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap5.js"></script>

    <script>
        $(document).ready(function () {
            let table = new DataTable('#dataTable', {
                responsive: true
            });
            let userName = '@userName';
            if (userName != null) {
                $('#UserName').text(userName);
            }

        });
    </script>
}
